<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="googlechrome" />
    <package id="firefox" />
    <package id="git" />
    <package id="nodejs.install" />
    <package id="vscode" />
    <package id="visualstudio2019enterprise" />
    <package id="postman" />
    <package id="notepadplusplus.install" />
    <package id="fiddler" />
</packages>